########################################################
# Node / JavaScript
########################################################
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

########################################################
# Build / Coverage Artifacts
########################################################
dist/
build/
coverage/
.nyc_output/

########################################################
# Environment / Secrets
########################################################
.env
.env.*

########################################################
# macOS
########################################################
.DS_Store

########################################################
# Editor / IDE
########################################################
.vscode/
.idea/
*.swp
*.swo

